.file {
  padding-left: var(--item-padding);
  font-weight: normal;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;

  .header {
    display: flex;
    flex: 1;
    .icon {
      margin-right: 4px;
      display: flex;
      align-items: center;
    }
  }

  .name {
    flex: 1;
    a {
      text-decoration: none;
      color: inherit;
    }
    &.active {
      text-decoration: underline;
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--text-hover);
    .actions {
      visibility: visible;
      opacity: 1;
    }
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 4px;
    margin: 0px 4px 0px 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
