@import "../../../styles/common.scss";

.sidebarHeader {
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 28px;
  padding: 4px;
  width: 100%;
  background-color: var(--background-secondary);
  overflow: hidden;

  a {
    text-decoration: none;
    color: currentColor;
    @extend %flexCenter;
  }
}
