.folder {
  padding-left: 10px;

  .header {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      .icon {
        display: flex;
        margin-right: 4px;
      }
    }

    &:hover {
      cursor: pointer;

      color: var(--text-hover);
      .actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .actions {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 4px;
    margin: 0 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}

.expanded {
  display: block;
}
.collapsed {
  display: none;
}
