.folder {
  padding-left: var(--item-padding);

  .header {
    display: flex;
    justify-content: space-between;
    height: var(--item-height);

    .info {
      display: flex;
      flex: 1;
      align-items: center;
      align-content: center;
      overflow: hidden;
      height: 100%;

      svg {
        min-width: 20px;
        margin-right: 4px;
      }
      span {
        padding-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &:hover {
      cursor: pointer;

      color: var(--text-hover);
      .actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .actions {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 4px;
    margin: 0px 4px 0px 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .newItem {
    display: flex;
    flex: 1;
    padding-left: var(--item-padding);
    padding-right: var(--item-padding);
  }
}

.expanded {
  display: block;
}
.collapsed {
  display: none;
}
