.exportDB {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  color: inherit;
  width: 20px;
}
