body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  --item-padding: 10px;
  --item-height: 1.5rem;
}

body[data-theme="light"] {
  --primary: #212121;
  --text-hover: #313131;
  --background: white;
  --background-secondary: #ccc;
  --sidebar-background: #cccccce3;
  --sidebar-button: rgb(156, 156, 156);
  --input-outline-color: #ccc;
  --scrollbar-thumb-color: darkgray;
  --scrollbar-track-color: white;
  --gradient-background: linear-gradient(
    90deg,
    rgba(189, 189, 189, 0) 0%,
    rgba(189, 189, 189, 0.92) 25%,
    rgb(189, 189, 189) 100%
  );
}

body[data-theme="dark"] {
  --primary: rgb(221, 221, 221);
  --text-hover: white;
  --background: #212121;
  --background-secondary: #262626;
  --sidebar-background: #333333e3;
  --sidebar-button: #1d1d1d;
  --input-outline-color: rgb(81, 154, 238);
  --scrollbar-thumb-color: #212121;
  --scrollbar-track-color: #333333e3;
  --gradient-background: linear-gradient(
    90deg,
    rgba(21, 21, 21, 0) 0%,
    rgba(21, 21, 21, 0.92) 25%,
    rgb(21, 21, 21) 100%
  );
}

body {
  color: var(--primary);
  background-color: var(--background);

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    // border-radius: 20px;
    border: 3px solid var(--scrollbar-thumb-color);
  }
}
